{% extends 'base.html.twig' %}
{% block title %}Modifier {{display}}{% endblock %}
{% block body %}
<h1>MODIFIER {{display|upper}}</h1>
{{ form_start(form) }}
{{ form_end(form) }}
</br>
<a class="btn" type="button" href="../">Retour à la liste</a>
{% endblock %}