{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		LISTE DES MARQUES</br>
		<table>
		{% for m in mMarque %}
		<tr>
			<td>{{ m.libelle }}</td>
	{% else %}
		<tr>
		<td>Aucun marque n'a été trouvé.</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}