{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		<h2><strong><u>LISTE DES TYPES D'INSTRUMENTS</u></strong></h2></br>
		<table>
		{% for t in tTypesInstruments %}
		<tr>
			<td><strong><h3>{{ t.libelle }}</h3></strong></td>
			<td><a class="btn btn-primary" type="button" href={{ path('app_typeinstrument_consulter', {'id': t.id}) }}>Consulter</a></td>

	{% else %}
		<tr>
		<td>Aucun type d'instrument n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}