{% extends 'base.html.twig' %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		
		<h2><strong><u>LISTE DES TYPES D'INSTRUMENTS</u></strong></h2></br>
		<table width="45%" border="2" cellspacing="1" cellpadding="10">
		<thead>
        <tr>
            <th>Type d'instrument</th>
            <th>Classe d'instrument</th>

        </tr>
    </thead>
		{% for t in tTypesInstruments %}
		<tr>
			<td><strong><h4>{{ t.libelle }}</h4></strong></td>
			<td><strong><h4>{{ t.classeInstrument.libelle }}</h4></strong></td>
			<td><a class="btn btn-primary" type="button" href={{ path('app_typeinstrument_consulter', {'id': t.id}) }}>Consulter</a></td>

	{% else %}
		<tr>
		<td>Aucun type d'instrument n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}